/*CSS RESET*/
html, body, div, ul, li, a {
	margin: 0px;
	padding: 0px;
	font-size: 15px;
	font: inherit;
	vertical-align: baseline;
	min-width: 0px;
	letter-spacing: 1px;
}

body {
	background-color: white;
	margin: 0 auto;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}
<<<<<<< HEAD

.paragraph {
	width: 300px;
=======
.paragraph{
	font-size: 15px;
	position: absolute;
	width: 250px;
	left: calc(50% - 267px);
	top: calc(50% + 78px);
>>>>>>> 4fe91fa92816ed86e8ed5a99069e0ff2ec6e040f
}

.stairs {
	position: absolute;
	height: 80%;
	left: calc(50% - 300px);
	top: calc(50% - 350px);
	margin: 0 auto;
	z-index: -1;

}

.stairsTextBox {
	position: absolute;
	left: calc(50% - 300px);
	top: calc(50% + 20px);

}

p {
	z-index: 1;
}

.material-icons.md-48 {
	font-size: 48px;
}

nav {
	text-align: center;
	position: fixed;
	top: 0;
	width: 100%;
	margin:0;
}

nav li {
	display: inline;
	padding: 40px;
	padding-top: 30px;
	padding-bottom: 30px;

}

a:link {
	text-decoration: none;
	color:black;
}
<<<<<<< HEAD
nav a{
	color:black;
	padding-top: 30px;
	margin-top: 30px;
=======

p{
	z-index: 1;
>>>>>>> 4fe91fa92816ed86e8ed5a99069e0ff2ec6e040f
}
ul{
	margin-top: 20px;
	padding-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
h1{
	padding-top:70px;
}