/*CSS RESET*/
html, body, div, ul, li, a,{
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  font: inherit;
  vertical-align: baseline;
  min-width: 0px;
  letter-spacing: 1px;
}
body{
	background-color: white;
	margin: 0 auto;
}
h1{
	text-align: center;
}
h2{
	text-align: center;
}
.paragraph{
	width: 300px;
}
.stairs{
	position: absolute;
	height: 80%;
	left: calc(50% - 300px);
	top: calc(50% - 350px);
	margin: 0 auto;
	z-index: -1;
}
.stairsTextBox{
	position: absolute;
	left: calc(50% - 300px);
	top: calc(50% + 20px);
}
p{
z-index: 1;
}
