/*CSS RESET*/
html, body, div, ul, li, a {
	margin: 0px;
	padding: 0px;
	font-size: 15px;
	font: inherit;
	vertical-align: baseline;
	min-width: 0px;
	letter-spacing: 1px;
}

body {
	background-color: white;
	margin: 0 auto;
}

h1 {
	font-family: 'Gloria Hallelujah';
	text-align: right;
}

h2 {
	font-family: 'Gloria Hallelujah';
	text-align: right;
}

p {
	z-index: 1;
}

h1{
}

.P1, .P2, .P3, .P4, .P5, .P6, .P7, .P8, .P9, .P10, .P11, .P12, .P13, .P14, .P15, .P16{
	border: solid 1px white;
	border-radius: 30px;
	font-size: 15px;
	color: white;
	position: absolute;
	width: 210px;
	left: calc(50% - 290px);
	top: calc(50% + 45px);
	padding-left: 15px;
	padding-right: 15px;
	text-align: justify;
}

.stairs{
	position:absolute;
	background-image: url("../img/SVG/stairs.svg");
	background-repeat: no-repeat;
	height: 700px;
	width: 80%;
	max-width: 730px;
	left: calc(50% - 375px);
	top: calc(50% - 290px);
	margin: 0 auto;
	z-index: -1;

}
nav {
	display: flex;
	align-items: center;
	margin-top: 30px;
}
.navigation{
	margin: 0 auto;
	display: flex;
	flex-direction: row-reverse;
	text-align: center;
	align-items: center;
}
.navigateForward{
	margin: 30px;
	cursor: pointer;
}
.navigateBack{
	margin: 30px;
	cursor: pointer;
}
.homeIcon{
	margin: 30px;
	/*Cursor: pointer;*/
}
.titleBox{
	position: absolute;
	font-size: 25px;
	max-width: 300px;
	left: calc(50% + 60px);
	top: calc(50% - 350px);

}


/*.material-icons.md-48 {
	font-size: 48px;
}*/
/*
nav li {
	display: inline;
	padding: 40px;
	padding-top: 30px;
	padding-bottom: 30px;

}

a:link {
	text-decoration: none;
	color:black;
}
nav a{
	color:black;
	padding-top: 30px;
	margin-top: 30px;
}
ul{
	margin-top: 20px;
	padding-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 20px;
}*/
